* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

.Starflix-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}
.navbar-left .logo-text{
    font-size: 27px;
}
.navbar-left {
    display: flex;
    align-items: center;
}

.logo-icon {
    font-size: 24px;
    color: #1db954; 
    margin-right: 8px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.open-app-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    font-size: 17.5px;
    margin-top: -1px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 11px;
    align-items: center;
    transition: background-color 0.3s;
}

.open-app-btn a{
    text-decoration: none;
}
@media (prefers-color-scheme: dark) {
    .open-app-btn a{
        color:rgb(0, 0, 0);
}}
@media (prefers-color-scheme: light) {
            .open-app-btn a{
                color:white;
}}
.menu-icon {
    font-size: 21px;
    cursor: pointer;
}


body.light-theme {
    background-color: #fff;
    color: #000;
}

.light-theme .Starflix-navbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.light-theme .search-icon,
.light-theme .menu-icon,
.light-theme .logo-text {
    color: #000;
}

.light-theme .open-app-btn {
    background-color: #000;
    color: #fff;
}


body.dark-theme {
    background-color: #121212;
    color: #fff;
}

.dark-theme .Starflix-navbar {
    background-color: #000000;
    border-bottom: 1px solid #282828;
}

.dark-theme .search-icon,
.dark-theme .menu-icon,
.dark-theme .logo-text {
    color: #fff;
}

.dark-theme .open-app-btn {
    background-color: #fff;
    color:#000;
}


.menu-modal {
    display: none; 
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
}

.menu-list {
    list-style: none;
}

.menu-item {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #1db954; 
}

.close-btn {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}
h3{
    padding-top: 62.5px;
}
.team-members h3{
    margin-top: -60px;
    margin-left: 3%;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .Page{display : none;  
}}
@media (min-width: 1025px) {
   .Page{
    display: none;
}}

.navbar-left img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.featured-today {
    padding: auto;
    color: #ffffff;
    border-radius: 5px;
    width: 95%;
    margin: auto;
    text-align: left;
    overflow: hidden;
}
@media (max-width: 768px) {    
    .carousel {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
    }

    .carousel-item {
        min-width: 100%;
        transition: transform 0.5s ease-in-out;
        position: relative;
        margin-top: 90px;
    }

    .carousel-item img {
        width: 100%; 
        height: 150px; 
        border-radius: 10px;
        object-fit: cover; 
        max-width: none;
    }
}
 .dots {
        position: absolute;
        top:95px;
        right:20px;
        display: flex;
        gap: 5px;
        z-index: 10; 
    }

    .dot {
        width: 8px;
        height: 8px;
        background-color: #bbb;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.7;
    }

    .dot.active {
        background-color: #fff;
        opacity: 1;
    }

.Featured h3{
    position: absolute;
    left:3%;
}

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:rgba(255, 255, 255, 0.8);
            border-radius: 100px;
            padding: 5px 10px;
            max-width: 500px;
            width: fit-content;
            overflow: hidden;
            font-weight: bold;
            font-size: 20px;
        }
        .Greeting-Text{
            justify-content:center;
            align-items: center;
            position: fixed;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 1;
            transition: opacity 7s ease-out;
        }
        .fade-out{
            opacity: 0;
        }
        @media (prefers-color-scheme: light) {
            .container{
                color:#fff;
                background-color: #000;
            }}
            @media (prefers-color-scheme: dark) {
                .container{
                    color:#000;
                    background-color:rgb(255, 255, 255);
                }}

                .Images {
                    display: flex;
                    gap:7px;
                    justify-content: center;
                    margin-left: -2px;
                    margin-right: -2px;
                    margin-top: -25px;
                }
                
                .shahid, .shahid1{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-shrink: 0; 
                    width: 46%;
                    background-color:#32323269 ;
                    border-radius: 5px;
                    margin-top: 27.5px;
                  }
                
                @media (prefers-color-scheme: light) {
                    .shahid, .shahid1{
                        background-color: #a8a7a769;
                    }
                   }
                     
                   .shahid img, .shahid1 img{
                    height: 100%; 
                    max-width: 95%; 
                    border-radius: 5px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    object-fit: cover;
                }
                
                
                @media (prefers-color-scheme: light) {
                .shahid h5, .shahid1 h5{
                    color:white;
                    }
                   }

                   .container1 {
                    padding: 1em;
                    margin: 10px;
                    background: rgb(255, 255, 255);
                    border-radius: 10px;
                    margin-top: 3px;
                  }

                  ul {
                    list-style: none;
                  }

                  .skills h3{
                    margin-top: -55px;
                    margin-left:3%;
                    color: #ffffff;
                  }
                  
                  ul li {
                    background: #eee;
                    padding: 0.5em;
                    margin: 0.5em 0;
                    border-radius: 4px;
                    color: #000;
                    font-weight: bold;
                  }
                  @media (min-width: 601px) {
                    .container1 {
                        max-width: 700px;
                        margin: 20px auto;
                      }
                    }
                  .about-me h3{
                    margin-top: -65px;
                    margin-left: 3%;
                  }
                  .container1 p{
                    color:#000;
                    font-weight: bold;
                  }
                  .contact h3{
                    margin-top: -55.5px;
                    margin-left: 3%;
                }

                form {
                    padding: 1em;
                    margin: 10px;
                    background: rgb(255, 255, 255);
                    border-radius: 5px;
                    margin-top: 4.5px;
                  }
                  .data{
                    margin-top: -10px;
                  }
                  .field {
                    margin-bottom: 5px;
                  }
                  
                  label {
                    margin-top: 6px;
                    display: block;
                    font-size: 17.5px;
                    margin-bottom: 3px;
                    font-weight: bold;
                    color: black;
                  }
                  input[type="text"]:focus{
                    border-color: #b700ff;
                    box-shadow: 0 0 5px rgba(183, 0, 255, 0.5); 
                    outline: none;
                }
                #message:focus{
                    border-color: #b700ff;
                    box-shadow: 0 0 5px rgba(183, 0, 255, 0.5); 
                    outline: none;
                }
                  input[type="text"]{
                    width: 100%;
                    padding: 7px;
                    border-radius: 4px;
                    border: 1px solid #ffffff;
                    font-size: 16px;
                    box-sizing: border-box;
                    padding-left: 7px;
                  }
                  input[type="email"]:focus{
                    border-color: #b700ff;
                    box-shadow: 0 0 5px rgba(183, 0, 255, 0.5); 
                    outline: none;
                }
                  input[type="email"]{
                    width: 100%;
                    height:30px;
                    padding: 7px;
                    border-radius: 4px;
                    border: 1px solid #ffffff;
                    font-size: 16px;
                    box-sizing: border-box;
                    padding-left: 7px;
                  }
                  
               button{
                padding: 5px 7px;
                background-color: #20cb5c;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                font-size: 17.5px;
                margin-top: 5px;
               }
                  button:hover{
                    background-color: #12bc1a;
                  }
                  #message{
                     width:100%;
                     height:50px;
                     border-radius: 5px;
                     padding-left: 7px;
                     padding-top: 3px;
                  }
                 
                  @media (max-width: 601px) {
                    form {
                      padding: 15px;
                    }
                  
                    input[type="text"]{
                      font-size: 15px;
                    }
                  }
                  
                  @media (max-width: 480px) {
                    form {
                      padding: 10px;
                    }
                  
                    input[type="text"]{
                      font-size: 15px;
                    }
                  }
                  
                
                  .developer {
                    display: flex;
                    gap:7px;
                    justify-content: center;
                    margin-left: -2px;
                    margin-right: -2px;
                   margin-top: -23px;
                }
                
                .dev{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-shrink: 0; 
                    width: 46%;
                    background-color: #ffffff;
                    border-radius: 5px;
                    margin-top: 27.5px;
                }
                
                @media (prefers-color-scheme: light) {
                    .dev{
                        background-color: #ffffff;
                        box-shadow: 0px 0px 3px 3px#e2e2e2;
                    }
                   }
                     
                .dev img{
                    height: 85%; 
                    max-width: 95%; 
                    border-radius: 5px;
                    margin-top: 3px;
                    object-fit: cover;
                }
                
                .dev h5{
                    margin-bottom: -10px; 
                    font-size: 20px;
                    text-align: center;
                    color:black;
                }
                
                .team-members1 h3{
                    margin-top: -65px;
                    margin-left: 3%;
                }
                
                @media (prefers-color-scheme: light) {
                    .skills h3{
                        color:black;
                    }
                    .container1 {
                        background-color: #a8a7a769;
                }
                .shahid h5, .shahid1 h5{
                    color:black;
                }
                form{
                    background-color:#a8a7a769 ;
                }
                #message{
                    border-color: black;
                }
                input[type="text"]{
                    border-color: black;
                }
                input[type="email"]{
                    border-color: black;
                }
                }
                
                @media (prefers-color-scheme: dark) {
                    .container1{
                        background-color: #32323269;
                    }
                    .container1 p{
                        color: #fff;    
                   }
                   form{
                    background-color:#32323269 ;
                   }
                   label{
                    color:white;
                   }
                   input[type="text"]{
                    background-color: #676767;
                   }
                   input[type="email"]{
                    background-color: #676767;
                   }
                   .shahid h5, .shahid1 h5{
                    color:white;
                }
                   .explore a{
                    background-color: #bc1212;
                   }

                   #message{
                    background-color: #676767;
                    border-color: white;
                   }
                
                .modal-content {
                    background-color: #323232;
                }
                .menu-item {
                    color: #ffffff;
                }
                ul li {
                    background-color:#67676785 ;
                }
                ul li{
                    color:#fff;
                }
                .close-btn {
                    color:white;
                }
                }
  

                body {
                   margin: 0;
                    font-family: 'Arial', sans-serif;
                    background-color: #f4f4f4; 
                }
                footer {
                    background-color: #2C3E50;
                    color: white;
                    text-align: center;
                    padding: 40px 20px;
                    position: relative;
                    border-top: 5px solid #3498db; 
                }
                
                .social-icons {
                    margin-top: 20px;
                }
                .social-icons a {
                    margin: 0 15px;
                    font-size: 26px;
                    text-decoration: none;
                    color: inherit;
                    transition: transform 0.3s ease;
                }
                .social-icons a:hover {
                    transform: scale(1.3); 
                }
            
                .social-icons a.youtube {
                    color: #FF0000;
                    font-size: 32.5px;
                }
                .social-icons a.telegram {
                    color: #0088cc; 
                    font-size: 32.5px;
                }
                .social-icons a.instagram {
                    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 32.5px;
                }
                .social-icons a.github {
                    color: #ffffff;
                    font-size: 32.5px; 
                }
                footer hr {
                    margin: 30px auto;
                    width: 80%;
                    border: 0;
                    border-top: 1px solid #34495E;
                }
                footer .credits {
                    font-size: 14px;
                    opacity: 0.8; 
                }
            
                .chart-container {
                    position: relative;
                    margin: auto;
                    max-width: 400px;
                    height: 400px; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 25px;
                }
                canvas {
                    border-radius: 15px; 
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
                }
                @media (max-width: 600px) {
                    footer h2 {
                        font-size: 24px;
                    }
                    .social-icons a {
                        font-size: 20px; 
                    }
                    .chart-container {
                        max-width: 125%;
                        height: 362.5px;
                    }
                }
                 .container3 {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                  
                .profile-photo {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 5px solid #0ff;
                    box-shadow: 0 0 10px #0ff, 0 0 5px #0ff, 0 0 25px #0ff, 0 0 35px #0ff;
                    animation: zoomIn 3s ease-in-out infinite alternate;
                  }
                
                  .profile-photo img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                
                  .sparkles {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    overflow: hidden;
                  }
                
                  .sparkle {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: radial-gradient(circle, rgb(0, 255, 255) 0%, rgba(0, 255, 255, 0) 70%);
                    border-radius: 50%;
                    animation: sparkle 2s infinite ease-in-out;
                  }
                  .sparkle1 {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: radial-gradient(circle, rgb(255, 0, 0) 0%, rgba(0, 255, 255, 0) 70%);
                    border-radius: 50%;
                    animation: sparkle 2s infinite ease-in-out;
                  }
                  .sparkle2 {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: radial-gradient(circle, rgb(30, 255, 0) 0%, rgba(0, 255, 255, 0) 70%);
                    border-radius: 50%;
                    animation: sparkle 2s infinite ease-in-out;
                  }                
                
                  .sparkle:nth-child(1) { top: 20%; left: 75%; animation-delay: 0s; }
                  .sparkle:nth-child(2) { top: 20%; left: 30%; animation-delay: 1s; }
                  .sparkle:nth-child(3) { top: 40%; left: 75%; animation-delay: 0.5s; }
                  .sparkle:nth-child(4) { top: 40%; left: 15%; animation-delay: 0s; }
                  .sparkle1:nth-child(5) { top: 60%; left: 25%; animation-delay: 0s; }
                  .sparkle1:nth-child(6) { top: 72.5%; left: 75%; animation-delay: 0s; }
                  .sparkle1:nth-child(7) { top: 82.5%; left: 55%; animation-delay: 1.5s; }
                  .sparkle1:nth-child(8) { top: 85%; left: 85%; animation-delay: 0s; }
                  .sparkle2:nth-child(9) { top: 75%; left: 20%; animation-delay: 0s; }
                  .sparkle2:nth-child(10) { top: 55%; left: 80%; animation-delay: 0.5s; }
                  
                  @keyframes zoomIn {
                    from { transform: scale(0.7); }
                    to { transform: scale(1.1); }
                  }
                
                  @keyframes sparkle {
                    0% { transform: scale(0.5); opacity: 0; }
                    50% { transform: scale(1.5); opacity: 1; }
                    100% { transform: scale(0.5); opacity: 0; }
                  }
                  .main-content {
                    display: none;
                  }                

                  .modal-1 {
                    display: none;
                    position: fixed;
                    z-index: 1; 
                    left: 0;
                    top:40%;
                    width: 100%;
                    height: 100%;
                }
                
                .close-btn1 {
                    color: #a6a6a6;
                    font-size: 28px;
                    font-weight: bold;
                    position: absolute;
                    top: 7.1%;
                    right: 4%;
                    cursor: pointer;
                }
                
                .close-btn1:hover {
                    color: black;
                }
              
                .feedback-container {
                width: 95%;
                height: 16%;
                max-width: 450px;
                margin: 50px auto;
                padding: 20px;
                background-color: white;
                box-shadow: 0 0px 1.5px 3px rgba(0, 238, 255, 0.4);
                border-radius: 5px;
              }
        
               .header-1 h1 {
               text-align: center;
               margin-top: -13.5px;
               font-size: 30px;
               color:#000;
               font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
               }
        
              .rating {
                display: flex;
                   justify-content: center;
                   align-items: center;
              }
        
                .stars {
                  display: flex;
                  cursor: pointer;
                  font-size: 3em;
                  margin-top: -10px;
                  color: #898989;
                }
        
                 .stars .star {
                   margin-right: 5px;
                 }
        
                  .stars .star.selected {
                    color: #ffcc00;
                  }
